:root {
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --spacing-128: 8rem;
  --spacing-48: 3rem;
  --spacing-40: 2.5rem;
  --spacing-32: 2rem;
  --spacing-24: 1.5rem;
  --spacing-16: 1rem;
  --spacing-12: 0.75rem;
  --spacing-8: 0.5rem;
  --text-xl: 2.3rem;
  --text-l: 1.75rem;
  --text-m: 1.25rem;
  --text-s: 1rem;
}

.young-serif-xl {
  font-size: var(--text-xl);
  line-height: 1;
  font-weight: 400;
}

.young-serif-l {
  font-size: var(--text-l);
  font-weight: 400;
}

.outfit-600-m {
  font-size: var(--text-m);
  font-weight: 600;
}

.outfit-s-150 {
  font-size: var(--text-s);
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin-top: 0;
}

.young-serif-font {
  font-family: "Young Serif", "Times New Roman", Times, serif;
}

.outfit-font {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

hr,
section,
.prep-container {
  margin: var(--spacing-32);
}

hr {
  color: var(--stone-150);
}

.introduction {
  margin: 2.5rem 2rem 2rem 2rem;
  color: var(--stone-600);
}

.introduction h1 {
  color: var(--stone-900);
}

.prep-container {
  padding: var(--spacing-24) var(--spacing-24) var(--spacing-8)
    var(--spacing-24);
  background-color: var(--rose-50);
  border-radius: 0.75rem;
}

.prep-container h3 {
  color: var(--rose-800);
  font-size: var(--text-m);
  font-weight: 600;
}

li {
  color: var(--stone-600);
}

.prep-container li,
.ingredients li,
.instructions li {
  padding-left: var(--spacing-16);
}

ul li::marker {
  font-size: 0.7rem;
}

ol li::marker {
  font-weight: 600;
}

.prep-container li::marker {
  color: var(--rose-800);
}

.prep-time {
  margin-bottom: var(--spacing-16);
}

li:not(:last-child) {
  margin-bottom: var(--spacing-8);
}

.ingredients .title {
  margin-bottom: var(--spacing-24);
}

.instructions li {
  padding-left: var(--spacing-16);
}

.ing-heading,
.inst-heading {
  color: var(--brown-800);
}
